node_modules/
.env
dist/

backend/node_modules/
backend/.env
backend/dist/

gestionVeterinaria/node_modules/
gestionVeterinaria/.env
gestionVeterinaria/dist/

.git-front-backup/

package-lock.json
package.json