:root {
  --verde_claro: #8b9078;
  --amarillo_claro: #f7f9e0;
  --naranja_claro: #dcc487;
  --marron_claro: #887160;
}


/* Contenedor principal: ocupa toda la pantalla y centra el contenido */
.login-container {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--marron_claro);
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  padding: 2px;
}

/* La tarjeta blanca del login */
.login-card {
  background: var(--naranja_claro);
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px var(--naranja_claro);
  width: 100%;
  max-width: 380px;
  text-align: center;
}

.login-card h1 {
  margin-bottom: 1.5rem;
  font-size: 4rem;
}

.input-group input::placeholder {
  color: white;
  opacity: 1;
}

/* Grupos de input y label */
.input-group {
  text-align: left;
  margin-bottom: 1rem;
  color: white;
}

.input-group label {
  display: block;
  margin-bottom: 0.4rem;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
}

.input-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 20px;
  background-color: var(--marron_claro);
  font-size: 1rem;
  transition: all 0.2s ease;
  box-sizing: border-box; /* Fundamental para que el padding no rompa el ancho */
}



/* Botón de Iniciar Sesión */
.login-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--marron_claro);
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 1rem;
}

.login-btn:hover {
  background-color: var(--amarillo_claro);
  color: var(--marron_claro)
}


/* Mensaje de error */
.error-msg {
  background-color: var(--error-bg);
  color: var(--marron_claro);
  padding: 0.6rem;
  border-radius: 6px;
  margin-top: 1rem;
  font-size: 0.85rem;
  border: 1px solid var(--marron_claro);
}



.login-logo {
  width: 30%;  
  height: 40%;
}

.contenedor-padre{
    display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--marron_claro);
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  padding: 2px;

}